
header {
    width: 1440px;
    height: 60px;
    background-color: rgba(242, 238, 232, 100%);
    }
    
.inline_block {
        
        float: right;
        vertical-align: top;
    }

.logo {
        float: left;
        margin-left: 20px;
        font-family: 'EB Garamond'; 
        font-size: 16px;
    }
    
li {
        display: inline-block;
        padding: 0 10px 0 10px; 
        font-family: 'Source Sans Pro';
    }
    
button {
    display: inline-block;
}    

section {
        width: 1440px;
        height: 950px;
        }
    
aside {
            width: 740px;
            height: 950px;
            background-color: rgba(242, 238, 232, 100%);
            float: left;
        }
    
.profile_pic {
            width: 700px;
            height: 950px;
            background-color: rgba(73, 63, 48, 100%);
            float: right;
         }    

.text_container {
   
    margin-top: 70px;
}

.center {
    text-align: center;
}

.AboutMe {
    max-width: 400px;
    text-align: left;
    margin-left: 170px;
    font-family: 'EB Garamond';
}

.Quote {
    max-width: 400px;
    text-align: center;
    margin-left: 170px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'EB Garamond';
    font-style: italic;
    color: rgba(73, 63, 48, 100%) ;
}

.JobTitle {
    margin-top: 220px;
    margin-bottom: 10px;
    margin-left: 170px;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 30px;
    color: rgba(73, 63, 48, 100%);
}

.BracketUpper {
    margin-top: 150px;
    margin-bottom: 0px;
    text-align: center;
    font-family:'Ephesis';
    font-size: 60px;
    color: rgba(73, 63, 48, 50%);
}

.BracketLower {
    margin-top: 20px;
    text-align: center;
    font-family: 'Ephesis';
    font-size: 60px;
    color: rgba(73, 63, 48, 50%);
}